<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <title> <%= title %> </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">


</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Dynamic Programming <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h2 class="display-3"><%= title %></h2><br>
        <p><%= questioname %></p>
        <p><%= tc %></p>
      </div>
    </div>
    <div class="container">
      <% if(title === "0/1 Knapsack Problem"){ %>
      <form action="/knapsack" method="post">
        <div class="form-group">
          <label for="size">Enter size</label>
          <input type="text" class="form-control" name="size">
        </div>
        <div class="form-group">
          <label for="cap">Enter total capacity</label>
          <input type="text" class="form-control" name="cap">
        </div>
        <div class="form-group">
          <label for="weights">Enter weight of all items seperated by space.</label>
          <input type="text" class="form-control" name="weights">
        </div>
        <div class="form-group">
          <label for="values">Enter values of all items separated by space.</label>
          <input type="text" class="form-control" name="values">
        </div>
        <button type="submit" class="btn btn-dark">Give Output</button>
      </form>
  <% } else if(title === "Longest Increasing Subsequence") { %>
    <form action="/longest" method="post">
      <div class="form-group">
        <label for="size">Enter size</label>
        <input type="text" class="form-control" name="size">
      </div>
      <div class="form-group">
        <label for="array">Enter elements seperated by space.</label>
        <input type="text" class="form-control" name="array">
      </div>
      <button type="submit" class="btn btn-dark ">Give Output</button>
    </form>
    <% } else if(title === "Print LCS") { %>
      <form action="/printLCS" method="post">
        <div class="form-group">
          <label for="str1">Enter string 1</label>
          <input type="text" class="form-control" name="str1">
        </div>
        <div class="form-group">
          <label for="str2">Enter string 2</label>
          <input type="text" class="form-control" name="str2">
        </div>
        <button type="submit" class="btn btn-dark ">Give Output</button>
      </form>
 
    <% } else if(title === "All Pair Shortest Path") { %>
      <form action="/allpair" method="post">
        <div class="form-group">
          <label for="size">Enter number of vertices.</label>
          <input type="text" class="form-control" name="size">
        </div>
        <div class="form-group">
          <label for="array">Enter verties*vertices adjacency matrix in a row wise fashion separated by space. <br><em>* Note that graph[i][j] is 0 if i == j and is <b>"^"</b> if there is no edge from vertex i to j<em></label>
          <input type="text" class="form-control" name="array">
        </div>
        <button type="submit" class="btn btn-dark ">Give Output</button>
      </form>
    <hr>
    </div>
  

</div>
<% } %>
  </main>

  <br><br>
  </body>
  <footer >
    <p>&copy; Lakhwinder Singh</p>
  </footer>


</html>
